@font-face {
  font-family: "Pretendard";
  src: url("/fonts/PretendardVariable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "Pretendard", sans-serif;
}

code {
  background-color: #f8f8f8;
  border-radius: 4px;
  font-family: "Courier New", monospace;
}

pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 16px;
  font-family: "Courier New", monospace;
  overflow-x: auto;
}
